
* body{
	margin:0px;
	padding: 0px;
	font-size: 1.2em;
	font-family: monospace;
}
body{
	background: linear-gradient(to right, #cc99ff 0%, #66ccff 100%);
}
.wrap{
	margin: 0 auto;
	padding-top: 50px;
	width:90%;
}
.box-content{
	padding:15px;
}
.content{
	background: white;
	text-align: center;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
img{
	width:100%;
}
p{
    padding: 0 15%;
    color:#696b69;
    font-size: 1.1em;
    line-height: 1.9em;
}

.btn{
	text-transform:uppercase;
	border:0;
	color: white;
	font-weight:700;
	border-radius: 8px;
	background:#d13e75;
	padding: 20px 50px;
	margin: 40px 0;
}
.btn:hover{
	cursor:pointer;
	color:black;
}
@media screen and (min-width: 768px){
	.box-img{
		width:50%;
		float:left;
	}

}
@media screen and (min-width: 992px){
	.box-img{
		width:33.3333%;
		float:left;	
	}
}